.balance{
  background: var(--lightGreen);
  padding: 0.3rem 1rem;
  border-radius: 4px;
  color: #161616;
  font-weight: bold;
}

.payment-head{
  padding: 0.5rem 0.2rem !important;
  border-bottom: none !important;
  vertical-align: unset;
  letter-spacing: 0 !important;
}

.payment-head > span {
  background: var(--lightGreen);
  margin: 1rem;
  display: block;
  padding: 0.5rem;
  border-radius: 4px;
}

.payment-row > td{
  letter-spacing: 0 !important;
  padding: .55rem 0.25rem;
}

.payment-logo{
  width: 32px;
  background: #fff;
  border-radius: 50%;
  margin-left: 4px;
}