.rating {
  display: inline-block;
  border-radius: 50%;
  border: 5px double white;
  width: 30px;
  height: 30px;
  background-color: var(--lightGreen);
}

.skill-name {
  text-align: left;
  margin-right: auto;
}
