@media screen and (max-width: 768px) {
  .footer-list:nth-child(2) {
    margin-top: 1.5rem;
  }
  .footer-list {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-social-icon {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 830px) {
  .footer-social-icon {
    flex-wrap: wrap;
  }
}
