.available-margin {
  margin-top: 5.2rem;
}

.slider-image {
  width: 100%;
  object-fit: cover;
}

.swiper-container {
  height: 400px;
}

.swiper-slide {
  width: 100% !important;
  padding: 0 !important;
}

.program-text > p {
  font-style: normal;
}

.program-card:hover {
  transition: 1s;
  box-shadow: 0 0px 6px 3px rgb(8 204 150 / 58%);
}

.program-card-header {
  border-bottom: 3px var(--lightGreen) solid;
}

.carousel-caption {
  bottom: 30px;
  background-color: rgb(0 0 0 / 55%);
  border-radius: 4px;
}
