.report-page-container {
  padding: 1.5rem;
}

.report-right {
  flex: 0.25;
}

.report-left {
  margin-right: 1rem;
  flex: 0.75;
  display: flex;
}

.report-ltr {
  direction: ltr;
}

.report-left-info {
  margin-left: 1.5rem;
}

.report-left-info > p {
  font-weight: bold;
}

.report-left-info > p > span {
  margin-right: 1rem;
  font-weight: normal;
}

.report-badge > span {
  border-radius: 10px;
  padding: 0.4rem 0.9rem;
  margin-left: 0.2rem;
}

.part-users > img:first-child {
  margin-right: 0;
}

.part-users > img {
  width: 45px;
  border-radius: 50%;
  margin-right: 1rem;
}

.report-metainfo {
  margin-right: auto;
  align-self: center;
}

.report-metainfo > div {
  padding: 1rem 2rem;
}

.report-content {
  padding: 0 1.5rem;
}

@media screen and (max-width: 772px) {
  .report-left {
    flex-wrap: wrap;
  }
  .report-metainfo {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 0;
  }
  .report-metainfo > div {
    margin: 0 1rem;
  }
}

.report-user-img {
  width: 45px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline-container::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: #707070;
  top: 0;
  bottom: 0;
  right: 20px;
  margin-left: -3px;
}

.timeline-pointer {
  width: 18px;
  height: 18px;
  background-color: #707070;
  border-radius: 50%;
  position: absolute;
  right: 13px;
  top: 39%;
}

.report-user-commit {
  width: 45px;
  z-index: 99;
  position: absolute;
  right: -26px;
  bottom: -22px;
}

.timeline-leftline {
  width: 31px;
  height: 3px;
  background-color: #707070;
  position: absolute;
  top: 33%;
  right: 12px;
}

/* Container around content */
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  padding-left: 0;
}

.timeline-container:first-child {
  padding-top: 4rem;
}

.timeline-container:last-child {
  padding-bottom: 4rem;
}

.timeline-container:first-child > .timeline-pointer {
  top: 64%;
}

.timeline-container:last-child > .timeline-pointer {
  top: 23%;
}

/* The actual content */
.timeline-content {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}

.report-option {
  min-width: 200px;
}

.report-option-icon > svg:first-child {
  position: absolute;
  bottom: 18px;
  z-index: 50;
  left: 16px;
}

.report-option-icon > svg:last-child {
  position: absolute;
  bottom: 18px;
  z-index: 50;
  left: 9%;
}

.report-description {
  background: #161616;
  border: 3px #313131 solid;
  outline-width: 0 !important;
}

.report-option-icon > svg:hover {
  cursor: pointer;
  color: var(--lightGreen) !important;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline-container {
    width: 100%;
    padding-right: 25px;
  }

  .timeline-leftline {
    width: 16px;
  }

  .report-user-commit {
    width: 35px;
    right: -26px;
    bottom: -16px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after {
    left: 15px;
  }
}

@media screen and (max-width: 666px) {
  .report-page-container {
    flex-direction: column;
  }
  .report-left {
    flex: 1;
    margin-right: 0;
    justify-content: space-around;
  }
}

@media screen and (max-width: 452px) {
  .report-left {
    justify-content: start;
  }

  .report-metainfo > div,
  .report-left-info {
    margin: 0;
  }
  .report-page-container {
    padding: 0.5rem;
  }
  .report-left-info > p,
  .report-left-values > p {
    font-size: 1rem;
  }
  .report-left-values {
    margin-right: 0.9rem;
  }
  .report-option {
    min-width: 80%;
  }
}

@media screen and (max-width: 350px) {
  .report-left-info > p,
  .report-left-values > p {
    font-size: 1rem;
  }
  .report-left-values {
    margin-right: 0.3rem;
  }
}

@media screen and (max-width: 339px) {
  .report-left-info > p,
  .report-left-values > p {
    font-size: 0.8rem;
  }
  .report-metainfo > div {
    padding: 0.5rem 1rem;
  }
}
