.form-check{
  padding-right: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.form-check .custom-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 23px;
  width: 23px;
  right: 0;
  z-index: 50;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 23px;
  width: 23px;
  background-color: #fff;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.form-check:hover .custom-checkbox ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.form-check .custom-checkbox:checked ~ .checkmark {
  background-color: var(--lightGreen);
  transition: 0.4s;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.form-check .custom-checkbox:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.form-check .checkmark:after {
  right: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}