.profile-settings {
  padding-bottom: 4rem;
}

.profile-image {
  border-radius: 50%;
  max-width: 170px;
  height: 150px;
  display: block;
  margin: 0 auto;
  margin-bottom: 14px;
}

.skill-radio-button {
  width: 24px;
  height: 24px;
  margin: 0 13px;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "تغيير الصورة";
  color: #fff;
}

.custom-file-label::after {
  right: 0;
  content: "تغيير الصورة";
  border-radius: 0 0.25rem 0.25rem 0;
  width: 100%;
  text-align: center;
  background: var(--lightGreen);
}
