.wrapper-class {
  direction: ltr;
  border: 1px solid rgb(215, 215, 215);
}

.rdw-editor-main {
  padding: 0 20px 10px;
  min-height: 400px;
  color: black;
  background-color: #fff;
}

.rdw-editor-toolbar {
  margin-bottom: 0;
  color: black;
}

.rdw-editor-main pre {
  color: #fff !important;
}

.rdw-image-imagewrapper > img {
  width: auto;
  max-height: 250px;
  display: block;
}

.ck-content {
  min-height: 400px;
  color: black;
}

.jodit-workplace {
  min-height: 300px !important;
}

.jodit-container,
.jodit-drag-and-drop__file-box {
  color: #000;
}
