@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');

.main-message{
    font-family: 'Tajawal', sans-serif;
}

.message-phone{
    direction: ltr;
    display: inline-block;
}

.message-code{
    font-family: 'Tajawal', sans-serif;
    font-size: 2rem;
}